In [1]:
import numpy as np 
import pandas as pd

In [2]:
partidos = pd.read_csv("games.csv")
apariciones = pd.read_csv("appearances.csv")

Estadísticas de los jugadores: Se define una función que devuelva las estadísticas clave de un jugador para una temporada determinada.

In [5]:
def estadisticas_jugador(player_name, season):
    
    df = apariciones.merge(partidos, on=['game_id'], how='left')
    df = df[df['player_pretty_name'] == player_name]
    df = df[df['season'] == season]
    
    if (df.shape[0] == 0):
        Out = [(np.nan,player_name, season,0,0,0,0,0,0,0)]
        out_df = pd.DataFrame(data = Out, columns = ['player_id','player_pretty_names','season','goals','games',
                                                     'assists','minutes_played','goals_for','goals_against','clean_sheet'])
        return out_df
    
    else:
        
        df["goals_for"] = df.apply(lambda row: row['home_club_goals'] if row['home_club_id'] == row['player_club_id'] 
                      else row['away_club_goals'] if row['away_club_id'] == row['player_club_id'] 
                      else np.nan, axis=1)
        df["goals_against"] = df.apply(lambda row: row['away_club_goals'] if row['home_club_id'] == row['player_club_id'] 
                      else row['home_club_goals'] if row['away_club_id'] == row['player_club_id'] 
                      else np.nan, axis=1)
        df['clean_sheet'] = df.apply(lambda row: 1 if row['goals_against'] == 0
                      else 0 if row['goals_against'] > 0
                      else np.nan, axis=1)
        
        df = df.groupby(['player_id',"player_pretty_name","season"],as_index=False).agg({'goals': 'sum', 'game_id': 'nunique', 
                                                                      'assists': 'sum', 'minutes_played' : 'sum', 'goals_for' : 'sum',
                                                                      'goals_against' : 'sum', 'clean_sheet' : 'sum'})
        out_df = df.rename(columns={'game_id': 'games'})

        return out_df

In [6]:
estadisticas_jugador('Cristiano Ronaldo', 2019)

,player_id,player_pretty_name,season,goals,games,assists,minutes_played,goals_for,goals_against,clean_sheet
0,8198,Cristiano Ronaldo,2019.0,35,45,7,3991,86.0,51.0,15

In [7]:
estadisticas_jugador('Lionel Messi', 2021)

,player_id,player_pretty_name,season,goals,games,assists,minutes_played,goals_for,goals_against,clean_sheet
0,28003,Lionel Messi,2021.0,12,34,15,2872,78.0,32.0,12

In [8]:
estadisticas_jugador('Lionel Messi', 2019)

,player_id,player_pretty_name,season,goals,games,assists,minutes_played,goals_for,goals_against,clean_sheet
0,28003,Lionel Messi,2019.0,30,42,25,3631,87.0,39.0,17

In [9]:
estadisticas_jugador('Lionel Messi', 2022)

,player_id,player_pretty_name,season,goals,games,assists,minutes_played,goals_for,goals_against,clean_sheet
0,28003,Lionel Messi,2022.0,11,18,14,1567,56.0,14.0,8